<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" xmlns="http://www.nlog-project.org/schemas/NLog.xsd">
	<variable xdt:Transform="SetAttributes(value)" xdt:Locator="Match(name)" name="defaultLogDir" value="c:/logs/QP.ConfigurationService"/>
    <rules>
        <logger xdt:Transform="SetAttributes(writeTo)" xdt:Locator="Match(name)" name="*" writeTo="web" />
    </rules>
</nlog>
